---
import '@/styles/globals.css';

interface Props {
	title?: string;
	description: string;
}

const { title: titlePrefix, description } = Astro.props;

const titleSuffix = "André Lima";
const title = titlePrefix
	? `${titlePrefix} | ${titleSuffix}`
	: titleSuffix;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" href="/favicon.ico" />
		<title>{title}</title>
	</head>
    <body>
        <slot />
    </body>
</html>